<h1>Editing Grade</h1>

<%= render 'form', grade: @grade %>

<td><%= link_to 'Delete', @grade, method: :delete, data: { confirm: 'Are you sure?' } %></td> |
<%= link_to 'Back', student_path(:id => @student.id) %>
