<h1>Editing English Grade</h1>

<%= render 'form', english_grade: @english_grade %>

<td><%= link_to 'Delete', @english_grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%= link_to 'Back', student_path(:id => @student.id) %>
