<h1>Editing Maths Grade</h1>

<%= render 'form', maths_grade: @maths_grade %>

<td><%= link_to 'Destroy', @maths_grade, method: :delete, data: { confirm: 'Are you sure?' } %></td> |
<%= link_to 'Back', student_path(:id => @student.id) %>
