

/*

 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


body {
        background-color: #FBFCFF;
        padding-top: 70px;
        color: #011638;
        padding-left: 12px;
        font-family: 'Open Sans', sans-serif;


    }

.body welcome
{
  background: url("https://photos-6.dropbox.com/t/2/AABO-zyEY2tOjMWLE104A8VUTNP-OKx3304nOyxkkd4SUA/12/232060938/jpeg/32x32/1/_/1/2/2015-09-Life-of-Pix-free-stock-photos-road-desert-bus-fresonneveld.jpg/EMGkycQBGNe4AiAHKAc/1FCxtUYuYCMA_UVWkGTRrrdc-EXOXR8d4yf0iBn_sZg?dl=0&size=2048x1536&size_mode=3");
}


    h1, h2, h3, h4, h5, h6 {
        font-weight: 100;
        color: steelblue;
    }

    h3 {
        color: #87907D;
    }

    .body li {
        color: #05A8AA;

    }


#pins {
  margin: 0 auto;
  width: 100%;
  .box {
      margin: 10px;
      width: 350px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
      border-radius: 7px;
      text-align: center;
      img {
        max-width: 100%;
        height: auto;
      }
      h2 {
        font-size: 22px;
        margin: 0;
        padding: 25px 10px;
        a {
                color: #474747;
        }
      }
      .user {
        font-size: 12px;
        border-top: 1px solid #EAEAEA;
            padding: 15px;
            margin: 0;
      }
    }
}

#edit_page {
    .current_image {
        img {
            display: block;
            margin: 20px 0;
        }
    }
}

#pin_show {
    .panel-heading {
        padding: 0;
    }
    .pin_image {
        img {
            max-width: 100%;
            width: 100%;
            display: block;
            margin: 0 auto;
        }
    }
    .panel-body {
        padding: 35px;
        h1 {
            margin: 0 0 10px 0;
        }
        .description {
            color: #868686;
            line-height: 1.75;
            margin: 0;
        }
    }
    .panel-footer {
        padding: 20px 35px;
        p {
            margin: 0;
        }
        .user {
            padding-top: 8px;
        }
    }
}

textarea {
    min-height: 250px;
}


/* sorts the links out */
a {background-color: transparent;}      /* unvisited link */
a:visited {background-color:transparent;}  /* visited link */
a:hover {background-color:transparent;}  /* mouse over link */
a:active {background-color:transparent;}  /* selected link */

a {color: steelblue;}      /* unvisited link */
a:visited {color: steelblue;}

a:hover {color: steelblue;}  /* mouse over link */
a:active {color: steelblue;}  /* selected link */


.buttonscolour {


a {color: white;}
paddin-top: 10px;
}



html, body {
    height: 100%;
}


#navbar {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 60px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #222;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

#navbar li {
    position: relative;
    float: left;
    line-height: 60px;
    background: inherit;
    text-align: center;
    transition: all .2s;
}

#navbar li a {
    position: relative;
    display: block;
    padding: 0 20px;
    line-height: inherit;
    color: white;
    text-decoration: none;
}

#navbar li:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    background: #222;
    border-radius: 50%;
    transform: rotate(45deg);
    transition: all 0, background .2s;
}
#navbar li:hover:before {
    margin-top: 1px;
    border-radius: 50% 50% 0 50%;
    transition: all .1s, background .2s, margin-top .2s cubic-bezier(.5,30,.2,0);
}
#navbar li:hover,
#navbar li:hover:before {
    background: #3a3a3a;
}
#navbar li.active,
#navbar li.active:before {
    background: steelblue;
}


/* Cards */
.card {
  background-color: #fff;
  border-radius: 0.2em;
  padding: 1em;
  margin:1em;
  border: 1px solid #e8e8e8;
  opacity: 0.8;
  transition: opacity 0.2s, box-shadow 0.2s;
  &:hover {
    opacity: 1;
    box-shadow: 1px 2px rgba(139, 139, 139, 0.2);
    .card-header {
      color: #3980c7;
    }
    .card-subheader {
      color: rgba(127, 176, 196, 0.79);
    }
  }
  .card-header {
    text-transform: lowercase;
    font-weight: 200;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    margin-top: -10px;
    margin-bottom: 10px;
    font-weight: 100;
    color: #bbb;
    transition: color 0.2s;
    &.darker {
      color: #949494;
    }
  }
  .card-subheader {
    text-transform: lowercase;
    margin: 0;
    padding: 0;
    font-weight: 100;
    color: #cecece;
    transition: color 0.2s;
    font-size: 16px;
    line-height: 20px;
    &.darker {
      color: #949494;
    }
  }
  .card-divider {
    margin-top: 11px;
  }
.card-actions {
    float: right;
    margin: -10px 3px 15px 0;
    padding: 0;
    &.animate {
      opacity: 0;
      transition: opacity 0.3s;
    }
  }
  &:hover {
    .card-actions {
      &.animate {
        opacity: 1;
      }
    }
  }
}

/*
*********
TEACHER**
SEARCH***
FUNCTION*
*********
*/


$blue: #23242a;

$grey: #f2f3f6;
$light-grey: lighten($grey, 2%);
$dark-grey: darken($grey, 10%);

@keyframes shake {
   0%, 100% {transform: translateX(0);}
   10%, 30%, 50%, 70% {transform: translateX(-5px);}
   20%, 40%, 60%, 80% {transform: translateX(5px);}
}


@mixin center {
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
}

* {
  box-sizing: border-box;
}



.container {
line-height: 0;

  width: 300px;
  height: 300px;
  background: $grey;
  padding: 1em;
  border: 1px solid $dark-grey;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), 0 5px 10px rgba(0,0,0,0.05);;
  border-radius: 3px;

}

.input-query {
  width: 100%;
  padding: 0.5em;
  border: 1px solid $dark-grey;
  border-radius: 3px;
  font-size: 1em;

  &:focus ~ .counter {
    opacity: 0.1;
    transition: opacity 1s ease-in;
  }
}

.list-wrap {
  margin-top: 0.4em;
  overflow-y: auto;
  overflow-x: hidden;
}

.list {
  max-height: 220px;
}

.list-item {
  font-size: 0.9em;
  padding: 0.5em 0.8em;
  border-bottom: 1px solid $dark-grey;
  border-top: 1px solid white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 100%;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }
}

.list-item-link {
  color: #444;
  text-decoration: none;
}

.item-list-subtext {
  font-size: 85%;
  color: grey;
  &:before { content: ' ('}
  &:after { content: ')'}
}

.list-item--disable {
  text-align: center;
  border-bottom: none;
  animation: shake 0.6s;
  color: #9da1b1;
}

.counter {
  position: absolute;
  bottom: -15px;
  right: 10px;
  z-index: 0;
  font-size: 3.5em;
  color: black;
  transform: translateY(0);
  opacity: 0;
}




/*
*******
*******
*******
Option selecting*
*******
*******
*******
*/

#shortcut_wrapper span{display: none}
#Spelling,
#Writing,
#Reading
{
    display: none;
}
#shortcut_wrapper span{display: none}
#Geometry,
#Number,
#Measurement
{
    display: none;
}


/* Searchbox */


.searchboxteacher {
  padding-top: 40px;
  position:relative;
  right: 147px;
}










